.banner{
    position: relative;
    height: 100vh;
    width: 100%;
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.pexels.com/photos/451589/pexels-photo-451589.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: cover;
    background-position: center center;
}

.banner .banner-info{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: auto;
    text-align: center;
}

.banner .banner-info h1{
    position: relative;
    font-size: 2.8rem;
    color: #fff;
    font-family: sans-serif;
}

.button{
    height: 46px;
    justify-content: center;
}

.textbox{
    height: 40px;
    width: 300px;
    font-size: large;
}