#col {
	margin-top: 20px;
}

.container {
	background-color: #eee;
	padding: 40px;
	padding-top: 10px;
	margin-top: 10px;
	min-height: 100%;
}

.body {
	font-size: large;
}

.body a {
	color: blue;
}
