.feature {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.icon {
	width: 5em;
	height: 5em;
	position: relative;
}

.feature-description {
	position: absolute;
	top: 5em;
	margin: 0;
	padding: 2px 8px;
	border: 2px black solid;
	border-radius: 2em;
	background-color: white;
	font-style: italic;

	opacity: 0;
	transition: opacity 0.1s;
}

img:hover + .feature-description {
	opacity: 1;
	transition: opacity 0.5s;
}
