.feature {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.icon {
	width: 5em;
	height: 5em;
	padding: 12px;
	position: relative;
	transition-duration: 0.2s;
	transition-property: transform;
}

.icon:hover {
	transform: scale(1.1);
}

.feature-description {
	position: relative;

	margin: 0;
	padding: 2px 8px;
	border: 2px black solid;
	border-radius: 2em;
	background-color: white;
	z-index: 100;
	opacity: 1;
	transition: opacity 0.2s;
}

.outer-div {
	position: absolute;
	width: max-content;
	top: 5em;
	z-index: 100;
	opacity: 0;
}

img:hover + .outer-div {
	opacity: 1;
	transition: opacity 0.2s;
}
