.column {
	position: relative;
	width: 50%;
	margin: 24px;
	margin-top: 8px;
	padding: 16px;
}

.error {
	color: red;
	margin: auto;
	margin-top: 2em;
	width: 50%;
}

.property-image {
	width: 100%;
	object-fit: cover;
	height: 40vh;
	border-radius: 8px;
}

.row {
	margin-top: 20px;
}

#right-col {
	display: flex;
	flex-direction: column;
	gap: 5vh;
}
