.property {
	margin: 0;
}

.property.address {
	font-size: 2.75em;
	font-weight: bold;
}

.property.address:hover {
	cursor: pointer;
	text-decoration: underline;
}

.property.details {
	font-size: 1.25em;
	font-style: italic;
}

.top-section {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.breadcrumbs {
	margin: 0;
	cursor: pointer;
	text-decoration: underline;
	font-size: 1em;
}

.contact-title:hover {
	cursor: pointer;
	text-decoration: underline;
}

.contact-container {
	display: flex;
	max-width: 100%;
	max-height: 20px;
	justify-content: baseline;
	font-size: 1.2em;
	font-style: italic;
	padding: 8px;
	padding-left: 0;
	gap: 8px;
}

.contact-image {
	object-fit: contain;
	width: 25px;
	height: 25px;
}

hr {
	margin: 0;
}
